{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block content %}
        {% for cliente in clientes %}
            <h2>{{ cliente.nome }}</h2>
            <h2>{{ cliente.categoria }}</h2>
            <a class="btn btn-primary" href="{% url 'editarCliente' cliente.pk %}">Editar </a>
            <a class="btn btn-primary" href="{% url 'excluiCliente' cliente.pk %}">Excluir </a>
        {% endfor %}

    {% endblock %}

</body>
</html>